@import '../../variables.scss';

.button {
    background: #fff;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;

    &._active {
        background: $background_active;
        color: #fff;
    }
}