@import '../../variables.scss';

.button {
    background: $background_secondary;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 15px;
    border-radius: $border_radius_secondary;
    text-align: center;
    cursor: pointer;

    &._active {
        background: $background_active;
        color: $color_button_secondary;
    }


}