@import '../../variables.scss';

.ticket {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background: $background_secondary;
    box-sizing: border-box;
    padding: $p2;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.10);
    border-radius: $border_radius_basic;

    &-price {
        font-size: $font_size_big;
        color: $color_secondary;
    }

    &-info {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &-segment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        margin-bottom: 10px;

        &-title {
            color: $color_subtitle;
            text-transform: uppercase;
            line-height: 18px;
            letter-spacing: $letter_spacing_basic;
        }

        &-body {
            font-size: $font_size_secondary;
        }
    }
}