@import '../../variables.scss';

.ticket {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background: $background_secondary;
    box-sizing: border-box;
    padding: $p2;

    &-price {
        font-size: 24px;
        color: $color_secondary;
    }

    &-info {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &-segment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        margin-bottom: 10px;

        &-title {
            color: $color_subtitle;
            text-transform: uppercase;
            line-height: 18px;
            letter-spacing: 0.5px;
        }

        &-body {
            font-size: 14px;
        }
    }

}