@import '../../variables.scss';

.filter_bar {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;

    button {
        width: 100%;
        text-transform: uppercase;
        font-size: $font_size_basic;
        line-height: 20px;
        letter-spacing: $letter_spacing_secondary;
        border-radius: 0;
        padding: 15px 25px;

        &:first-child {
            border-radius: 6px 0 0 6px;
        }

        &:last-child {
            border-radius: 0 6px 6px 0;
        }
    }
}