@import '../../variables.scss';

.checkbox {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 11px $p2 11px 50px;
    position: relative;
    font-size: 13px;

    &:hover:not(._disabled) {
        background: $background_hover;
        cursor: pointer;
        box-shadow: $box_shadow_basic;
        transition: all 0.25s ease-in-out;

        &:before {
            box-shadow: $box_shadow_basic;
        }
    }

    input {
        position: absolute;
        left: 0;
        opacity: 0;
    }

    &:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid $border_color_basic;
        border-radius: 2px;
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    &-check {
        display: inline-block;
        position: absolute;
        left: 25px;
        opacity: 0;
    }

    &._disabled {
        cursor: default;

        &:before {
            border-color: $border_color_disabled;
        }
    }

    &._checked {
        .checkbox-check {
            opacity: 1;
        }
    }
}