@import './variables.scss';

body {
    margin: 0;
    padding: 0;
    background: $background_main;
    font-size: $font_size_basic;
    color: $color_basic;
    font-family: $font_family_basic;
    font-weight: 600;
}

.app {
    width: 100%;
    max-width: $max_page_width;
    margin: 0 auto;

    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;

    .filter_bar, .filter_sidebar {
        position: sticky;
        top: 0;
    }

    &-footer {
        button {
            width: 100%;
            letter-spacing: $letter_spacing_basic;
            text-transform: uppercase;
            font-size: $font_size_basic;
            padding: 18px;
        }
    }
}