@import './variables.scss';

body {
    margin: 0;
    padding: 0;
    background: $background_main;
    font-size: $font_size_basic;
    color: $color_basic;
    font-family: $font_family_basic;
    font-weight: 600;
}

.app {
    width: 100%;
    max-width: $max_page_width;
    margin: 0 auto;
    position: relative;

    box-sizing: border-box;
    padding-top: 140px;
    padding-bottom: 50px;

    .filter_bar, .filter_sidebar {
        position: sticky;
        top: 0;
    }

    &-logo {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: absolute;
        //left: 0;
        //right: 0;
        //margin-left: auto;
        //margin-right: auto;
        top: 20px;
        left: 50%;
        margin-left: -41px;
    }

    &-footer {
        button {
            width: 100%;
            letter-spacing: $letter_spacing_basic;
            text-transform: uppercase;
            font-size: $font_size_basic;
            padding: 18px;
        }
    }
}

.columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
}