// background colors
$background_main: #F3F7FA;
$background_secondary: #FFF;

$background_hover: #F1FCFF;


// color
$color_basic: #2196F3;


// paddings and margins
$p0: 0px;
$p1: 10px;
$p2: 20px;


// borders
$border_radius_basic: 5px;
$border_color_basic: #2196F3;
$border_color_disabled: #9ABBCE;

